.nav-column {
  @include make-row();
  @extend .flex-column;

  > * {
    padding: $nav-link-padding-y $gutter-half;
  }
}

.nav + .nav {
  border-top: 3px solid darken($brand-primary, 2%);
  padding-top: $nav-link-padding-y + .3em;
}

.nav-link {
  color: $gray-lighter;

  @include hover-focus {
    color: $nav-link-active-color;
    text-decoration: none;
  }
}


//
// Nav colours
//
.nav-link {
  &.active {
    color: $nav-link-active-color;
  }

  &.success {
    color: $brand-primary;
    background-color: $brand-success;
  }
}
