.table {

  thead th {
    font-weight: 400;
  }

  @each $breakpoint in map-keys($grid-gutter-widths) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);

      td, th {
        &:first-child {
          padding-left: ($gutter / 2);
        }
        &:last-child {
          padding-right: ($gutter / 2);
        }
      }
    }
  }
}
