.clipboard {
    cursor: copy;
    position: relative;

    &:after {
        opacity: 1;
        content: '';
    }

    &.copied:after {
        @include transition(opacity 1s ease-out .2s);
        opacity: 0;
        content: 'Copied!';
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
