<div class="row" *ngIf="directory">
    <upload #upload [path]="directory.path"></upload>
    <br>
    <div class="col-6">
        <h4>
            <i class="icon icon-folder-fill"></i>
            <span *ngIf="! isParentDirectory(directory.path)">{{ directory.path }}</span>
            <span *ngIf="isParentDirectory(directory.path)" class="text-gray-light">Parent Directory</span>
        </h4>
    </div>
    <div class="col-6 text-right">
        <a href="javascript:;" class="btn btn-sm btn-info" (click)="upload.toggle()">Upload</a>
    </div>
    <table class="table table-striped" [fmDropzone]="directory.path">
        <thead>
            <tr>
                <th class="w-100">Name</th>
                <th>Size</th>
                <th class="text-nowrap">Date Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="directory.directories.length === 0 && directory.files.length === 0">
            <tr class="text-center">
                <td colspan="4">Drag and drop to upload files</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="directory-list" *ngFor="let dir of directory.directories" [fmDropzone]="dir.path">
                <td class="w-100" (click)="navigate(dir)">
                    <i class="icon icon-folder"></i>
                    {{ dir.name }}
                </td>
                <td></td>
                <td></td>
                <td>
                    <a href="javascript:;" class="btn btn-sm btn-danger" (click)="destroy(dir)">Delete</a>
                </td>
            </tr>
            <tr class="file-list" *ngFor="let file of directory.files">
                <td class="w-100" role="link" (click)="select(file)">
                    <i class="icon" [ngClass]="file.icon"></i>
                    {{ file.name }}
                </td>
                <td class="text-nowrap text-right">
                    {{ file.size }}
                </td>
                <td class="text-nowrap">
                    {{ file.date_modified }}
                </td>
                <td class="text-nowrap">
                    <a href="javascript:;" class="btn btn-sm btn-danger" (click)="destroy(file)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
