<div class="container-fluid">
    <div class="row section section-white">
        <div class="col col-auto directory">
            <directory [path]="path" [root]="true"></directory>
        </div>
        <div class="col details-view">
            <details-view></details-view>
        </div>
    </div>
    <div class="inline-progress">
        <progress-bar></progress-bar>
    </div>
    <div class="row section section-white" *ngIf="selected">
        <div class="col info-view">
            <info [file]="file"></info>
        </div>
    </div>
</div>
<upload></upload>
