$badge-default-bg:            $brand-secondary;
$badge-primary-bg:            $brand-primary;
$badge-success-bg:            $brand-success;
$badge-info-bg:               $brand-info;
$badge-warning-bg:            $brand-warning;
$badge-danger-bg:             $brand-danger;

$badge-color:                 $white;
$badge-link-hover-color:      $white;
$badge-font-size:             90%;
$badge-font-weight:           normal;
$badge-padding-x:             .4em;
$badge-padding-y:             .25em;
