$body-bg:          $body-bg;
$body-color:       $gray-darkest;
$inverse-bg:       $gray-dark;
$inverse-color:    $gray-lighter;

$font-size-base:   1rem;
$font-size-lg:     1.25rem;
$font-size-sm:     .875rem;
$font-size-xs:     .75rem;

$border-width:     1px;
$border-radius:    .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;
