$breadcrumb-padding-y:          .75rem;
$breadcrumb-padding-x:          0;
$breadcrumb-item-padding:       .5rem;

$breadcrumb-bg:                 $gray-lighter;
$breadcrumb-divider-color:      $gray-dark;
$breadcrumb-active-color:       $gray-dark;
$breadcrumb-divider:            "›";
