$brand-primary:   #241E28;
$brand-secondary: #5FC5C7;
$brand-tertiary:  #60C662;

$black:     #111111;
$gray:      #777777;
$white:     #FEFEFE;

$body-bg:   #F0EEE9;

$gray-dark:     darken($gray, 15);
$gray-darker:   darken($gray, 30);
$gray-darkest:  darken($gray, 45);

$gray-light:    lighten($gray, 15);
$gray-lighter:  lighten($gray, 30);
$gray-lightest: lighten($gray, 45);

$brand-success:   #5CB85C;
$brand-info:      #5BC0DE;
$brand-warning:   #F0AD4E;
$brand-danger:    #D9534F;
$brand-inverse:   $gray-dark;

$state-success-text: #3c763d;
$state-success-bg:   #dff0d8;

$state-info-text:    #31708f;
$state-info-bg:      #d9edf7;

$state-warning-text: #8a6d3b;
$state-warning-bg:   #fcf8e3;

$state-danger-text:  #a94442;
$state-danger-bg:    #f2dede;
