<div *ngIf="modalOpen" class="modal-open">
    <div class="modal fade" [ngClass]="{'show': open}" (click)="toggle()">
        <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload</h5>
                    <a href="javascript:;" (click)="toggle()" class="close">&times;</a>
                </div>
                <div class="modal-body">
                    <form #uploadForm="ngForm" (ngSubmit)="onSubmit($event, uploadForm)">
                        <input type="file" name="files" [ngModel]="upload.files" required-file multiple>
                        <button type="submit" class="btn btn-success" [disabled]="! uploadForm.form.valid">Upload</button>
                    </form>
                    <span>Upload a file.</span>
                </div>
                <div class="modal-body" *ngIf="uploading || error">
                    <div *ngIf="uploading">
                        <hr>
                        <progress-bar></progress-bar>
                    </div>
                    <div *ngIf="error" class="has-danger">
                        <p class="text-danger">{{ error }}</p>
                    </div>
                </div>
                <div *ngFor="let file of files; let i = index" class="modal-footer d-block">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <p>{{ file.name }}</p>
                        </div>
                        <div class="col col-auto">
                            Link URL
                        </div>
                        <div class="col">
                            <input title="Link URL" type="text" [clipboard] role="link" [value]="file.url" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
