@import 'fonts/styles';

.file-manager-module {
    @import 'styles/variables';
    @import 'styles/mixins';
    @import 'styles/vendor';
    @import 'styles/partials';
    @import 'styles/components';
}
